<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="embedded.block.vote">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
            android:allowBackup="true"
            android:icon="@drawable/app_icon"
            android:label="BOTE"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            android:usesCleartextTraffic="true">
        <activity android:name=".UserSetting.UpdateActivity">
        </activity>
        <activity android:name=".UserSetting.EliminationActivity">
        </activity>
        <activity android:name=".UserSetting.FindpassActivity">
        </activity>
        <activity android:name=".UserSetting.FindidActivity">
        </activity>
        <activity android:name=".UserSetting.RegisterActivity">
        </activity>
        <activity android:name=".UserSetting.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".Admin.AdminVoteStart">
        </activity>
        <activity android:name=".Admin.AdminVoteStartClicked">
        </activity>
        <activity android:name=".Admin.StartPopupActivity" android:theme="@android:style/Theme.Dialog">
        </activity>
        <activity
                android:name=".Admin.AdminActivity"
                android:label="@string/title_activity_admin"
                android:theme="@style/AppTheme.NoActionBar"
                android:windowSoftInputMode="adjustNothing">
        </activity>
        <activity android:name=".Voter.VoteListActivity">
        </activity>
        <activity android:name=".Voter.VotepageActivity">
        </activity>
        <activity android:name=".Voter.VoteResultActivity">
        </activity>
        <activity android:name=".Admin.AdminInputActivity"
                  android:windowSoftInputMode="adjustNothing"/>
        <activity android:name=".Admin.AdminResultActivity"></activity>
        <meta-data android:name="preloaded_fonts" android:resource="@array/preloaded_fonts"/>
    </application>

</manifest>